.global {
  box-sizing: border-box;
  margin: 0 auto;
  color: #e5e5e5;
  font-family: 'Lato', sans-serif;
  width: 1020px;
  height: auto;
  border: 1px solid gray;
}

header {
  background-color: #2d303a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 95px;
  padding-left: 40px;
}
footer {
  background-color: #2d303a;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  height: 76px;
  justify-content: center;
}
.title {
  display: flex;
  flex-direction: row;
  width: 124px;
  height: 25px;
  align-items: start;
  justify-content: start;
  font-size: 25px;
  font-weight: bold;
}
.nav {
  width: 375px;
  height: 14px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
a {
  color: #e5e5e5;
  font-size: 12px;
  padding-right: 8px;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #f06c64;
}
p {
  color: #f06c64;
}

.slider {
  max-width: 100%;
  position: relative;
  width: 1040px;
  height: 594px;
  margin-bottom: 130px;
  margin: auto;
}

.slider .item img {
  object-fit: cover;
  width: 100%;
  height: 594px;
}

.slider .prev,
.slider .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slider .prev:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slider-dots {
  text-align: center;
}
.slider-dots_item {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
  background-color: #aaa;
}

.slider .item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.section-our-service {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background-color: #f2f2f2;
}
.section-header {
  display: flex;
  flex-direction: column;
  width: 936px;
  height: 101px;
  padding-top: 65px;
  padding-left: 40px;
  padding-right: 44px;
}
.services-list {
  color: #767e9e;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 980px;
  height: 228px;
  padding-left: 40px;
  padding-top: 120px;
}
.name {
  color: #666d89;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 36px;
  font-weight: 900 black;
  /* padding-top: 59px;
  padding-left: 40px; */
}
.description-our-services {
  color: #767e9e;
  width: 936px;
  height: 47px;
  font-size: 18px;
}
.service-item-1,
.service-item-2,
.service-item-3 {
  display: flex;
  align-items: start;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 300px;
  height: 104px;
}
.service-item-4,
.service-item-5,
.service-item-6 {
  /* flex: 0 0 33, 33%; */
  display: flex;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: space-around;
  width: 300px;
  height: 104px;
}
.name1,
.name2,
.name3 {
  font-size: 18px;
  font-weight: bold;
  text-align: up;
}
.name4,
.name5,
.name6 {
  font-size: 18px;
  font-weight: bold;
}
.description-item {
  font-size: 12px;
  width: 220px;
  height: 77px;
  padding: auto;
}
.section-portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 900px;
  background-color: #2d303a;
  color: #666d89;
}
.section-header1 {
  width: 100%;
  height: 40px;
  padding: 65px 40px 44px;
}
.filter-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 290px;
  height: 22px;
  padding-top: 55px;
  font-size: 12px;
}
li {
  border: 1px solid #767e9e;
  border-radius: 5px;
  list-style-type: none;
  padding-left: 5px;
  height: 18px;
  align-items: start;
}
.portfolio {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.description-portfolio {
  color: #767e9e;
  width: auto;
  height: 47px;
  font-size: 18px;
}
.picport {
  /* padding-top: 18px;
  padding-left: 20px;
  padding-right: 20px; */
  margin: 20px;
  padding-left: 20px;
  padding-top: 20px;
  width: 940px;
  height: 601px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pic-portfolio {
  display: flex;
  justify-content: center;
  width: 220px;
  height: 187px;
  margin-left: 2px;
}
.section-about-us {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 730px;
  background-color: #f2f2f2;
  color: #666d89;
  padding: 0 50px;
}
.section-header2 {
  width: 936px;
  height: 101px;
  padding-top: 59px;
}
.about {
  width: 130px;
  height: 40px;
  font-size: 30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.description-about-us {
  color: #767e9e;
  width: 940px;
  height: 50px;
  font-size: 18px;
  /* padding-top: 54px; */
}
.box-container3 {
  width: 940px;
  height: 443px;
  padding-top: 160px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  /* flex: 0 0 33, 33%; */
  justify-content: space-around;
}
.profile {
  height: 423px;
  width: 300px;
  /* border: 1px solid gray; */
}
.photo {
  height: 300px;
  width: 300px;
}
.pname {
  font-size: 18px;
  padding-top: 17px;
}
.pdescription {
  font-size: 12px;
  padding-top: 7px;
}
.icons {
  padding-top: 10px;
  color: #666d89;
}
.section-contact {
  width: 100%;
  height: 648px;
  background-color: #f06c64;
  /* display: flex; */
}
.section-header-contact {
  width: 936px;
  height: 101px;
  padding-left: 40px;
  padding-top: 59px;
}
.contact-header {
}
.description-contact {
}
.info-box {
  width: 930px;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 57px;
  padding-left: 40px;
}
.contact-form {
  display: flex;
  flex-wrap: wrap;

  padding-top: 80px;
  width: 620px;
  height: 373px;
}
input {
  width: 620px;
  height: 38px;
  border-radius: 5px;
  background-color: #d6564f;
  color: #f48c8f;
  border: none;
  font-size: 12px;
}
textarea {
  width: 620px;
  height: 159px;
  background-color: #d6564f;
  color: #f48c8f;
  border: none;
  font-size: 12px;
}
button {
  width: 136px;
  height: 40px;
  border-radius: 5px;
  background-color: #fbc65f;
  font-size: 14px;
  justify-content: centergit;
  border: none;
  padding-left: 40px;
  padding-top: 14px;
}
.contact-info {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 300px;
  height: 199px;
  padding-top: 80px;
}
.header-contact-info {
}

.contact {
  font-size: 18px;
  font-weight: bold;
}
.main-description-contact {
}
/* .main-adress {
  padding-top: 22px;
  width: 125px;
} */
.adress-info {
  width: 150px;
  height: 85px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding-top: 10px;
}

.main-adress,
.main-tel,
.main-email {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 125px;
  height: 19px;
  font-size: 12px;
  /* padding-top: 10px;
  padding-left: 10px; */
}

/* #content{
    background-color: mediumturquoise;
    height: 300px;
    width: 60%;
    text-align: center;
}
#aside, #sidebar{
background-color: mediumblue;
height: 300px;
width: 20%;
text-align: center;
}
.footer{
background-color: lightgreen;
height: 30px;
} */
