.global {
  box-sizing: border-box;
  margin: 0 auto;
  color: #e5e5e5;
  font-family: 'Lato', sans-serif;
  width: 1020px;
  /* max-width: 100%; */
  height: auto;
  border: 1px solid gray;
}
h1 {
  font-size: 30px;
}
header {
  background-color: #2d303a;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1020px;
  height: 95px;
  padding-left: 40px;
}
footer {
  background-color: #2d303a;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1020px;
  height: 76px;
  justify-content: center;
}
.tittle {
  justify-content: center;
  display: flex;
  font-size: 25px;
  font-weight: bold;
  padding-top: 30px;
  color: #f2f2f2;
}
.nav {
  width: 375px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  padding-left: 750px;
}
a {
  color: #e5e5e5;
  font-size: 12px;
  padding-right: 8px;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #f06c64;
}
p {
  color: #f06c64;
  /* }
.slider-container {
  width: 1020px;
  height: 594px; */
}

.slider {
  max-width: 100%;
  position: relative;
  width: 1040px;
  height: 594px;
  margin-bottom: 130px;
  margin: auto;
}

.slider .item img {
  object-fit: cover;
  width: 100%;
  height: 594px;
}

.slider .prev,
.slider .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slider .prev:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slider-dots {
  text-align: center;
}
.slider-dots_item {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
  background-color: #aaa;
}

.slider .item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.bg {
  display: flex;
  flex-direction: column;
  width: 1020px;
  height: 500px;
  background-color: #f2f2f2;
}
.section-header {
  display: flex;
  flex-direction: column;
  width: 936px;
  height: 101px;
  padding-top: 65px;
  padding-left: 40px;
  padding-right: 44px;
}
.services-list {
  color: #767e9e;
  display: flex;
  /* flex: 0 0 33, 33%; */
  flex-wrap: wrap;
  justify-content: space-around;
  width: 980px;
  height: 228px;
  padding-left: 40px;
  padding-top: 150px;
}
.name {
  color: #666d89;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* padding-top: 59px;
  padding-left: 40px; */
}
.description {
  color: #767e9e;
  width: 936px;
  height: 47px;
  font-size: 18px;
  /* }
.img {
  width: 200px;
  height: 30px;
  flex: none;
} */
}
.service-item-1,
.service-item-2,
.service-item-3 {
  /* flex: 0 0 33, 33%; */
  display: flex;
  align-items: start;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 300px;
  height: 104px;
}
.service-item-4,
.service-item-5,
.service-item-6 {
  /* flex: 0 0 33, 33%; */
  display: flex;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: space-around;
  width: 300px;
  height: 104px;

  /* margin: 10px; */
}

/* img {
  width: 60px;
  height: 60px;
} */

.name1,
.name2,
.name3 {
  /* margin-top: -40px;
  margin-left: 80px; */
  font-size: 18px;
  font-weight: bold;
  text-align: up;
}
.name4,
.name5,
.name6 {
  /* margin-top: -40px;
  margin-left: 80px; */
  font-size: 18px;
  font-weight: bold;
}
.description1,
.description2,
.description3,
.description4,
.description5,
.description6 {
  font-size: 12px;
  width: 220px;
  height: 77px;
  padding: auto;
}
.bg1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 1020px;
  height: 900px;
  background-color: #2d303a;
  color: #666d89;
}
.section-header1 {
  width: 1020px;
  height: 40px;
  padding-left: 40px;
  padding-top: 59px;
}
.filter-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 290px;
  height: 22px;
  padding-left: 40px;
  padding-top: 155px;
  font-size: 12px;
  justify-content: space-around;
}
li {
  border: 1px solid #767e9e;
  border-radius: 5px;
  list-style-type: none;
  padding-left: 5px;
  height: 17px;
  align-items: center;
}
.portfolio {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.description7 {
  color: #767e9e;
  width: auto;
  height: 47px;
  font-size: 18px;
  padding-top: 60px;
}
.picport {
  padding: 20px;
  width: 940px;
  height: 601px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 40px;
  padding-top: 10px;
}
.portfolio1,
.portfolio2,
.portfolio3,
.portfolio4,
.portfolio5,
.portfolio6,
.portfolio7,
.portfolio8,
.portfolio9,
.portfolio10,
.portfolio11,
.portfolio12 {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  height: 187px;
  margin: 2px;
}
.bg2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 1020px;
  height: 730px;
  background-color: #f2f2f2;
  color: #666d89;
  padding: 0 50px;
}
.section-header2 {
  width: 936px;
  height: 101px;
  padding-left: 40px;
  padding-top: 59px;
}
.about {
  font-size: 30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 40px;
}
.description8 {
  color: #767e9e;
  width: 936px;
  height: 47px;
  font-size: 18px;
  padding-top: 50px;
}
.box-container3 {
  width: 940px;
  height: 443px;
  padding-top: 160px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 33, 33%;
  justify-content: space-around;
}
.profile {
  height: 423px;
  width: 300px;
  border: 1px solid gray;
}
.photo {
  height: 300px;
  width: 300px;
}
.pname {
  font-size: 18px;
}
.pdescription {
  font-size: 12px;
}
.icon {
}

/* }
.one{
    display: inline;
    text-align: center;
}

/* *{
    margin: 0px;
    padding: 0px;
    color: snow;
}
.header{
    background-color:lightgreen;
    height: 50px;
    text-align: center;
}
.nav{
   background-color:green;
        height: 40px;
}
.main{
 display: flex;
}
#content{
    background-color: mediumturquoise;
    height: 300px;
    width: 60%;
    text-align: center;
}
#aside, #sidebar{
background-color: mediumblue;
height: 300px;
width: 20%;
text-align: center;
}
.footer{
background-color: lightgreen;
height: 30px;
} */
