footer {
  background-color: #2d303a;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  height: 76px;
  justify-content: center;
}
.a img:hover {
  color: #f06c64 !important;
}

@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 375px) {
}
