<mat-sidenav-container class="modal">
  <mat-nav-list>
    <a mat-list-item href="#home" (click)="onSidenavClose()">
      <span class="nav-caption">HOME</span>
    </a>
    <a mat-list-item href="#services" (click)="onSidenavClose()">
      <span class="nav-caption">SERVICES</span>
    </a>
    <a mat-list-item href="#portfolio" (click)="onSidenavClose()">
      <span class="nav-caption">PORTFOLIO</span>
    </a>
    <a mat-list-item href="#about" (click)="onSidenavClose()">
      <span class="nav-caption">ABOUT</span>
    </a>
    <a mat-list-item href="#contact" (click)="onSidenavClose()">
      <span class="nav-caption">CONTACT</span>
    </a>
    <!-- <mat-list-item [matMenuTriggerFor]="menu"></mat-list-item> -->
  </mat-nav-list>
</mat-sidenav-container>
