  <header>
    <h1 class="title">
      SINGOLO
      <p>*</p>
    </h1>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
      <nav class="burger-menu_nav">
        <a href="#home" class="burger-menu_link">HOME</a>
        <a href="#services" class="burger-menu_link">SERVICES</a>
        <a href="#portfolio" class="burger-menu_link">PORTFOLIO</a>
        <a href="#about" class="burger-menu_link">ABOUT</a>
        <a href="#contact" class="burger-menu_link">CONTACT</a>
      </nav>
      </mat-toolbar>
    </header>



