  <header>
    <h1 class="title">
      SINGOLO
      <p>*</p>
    </h1>
    <div class="burger-menu">
      <a href="" class="burger-menu_button">
        <span class="burger-menu_lines"></span>
      </a>
      <nav class="burger-menu_nav">
        <a href="#home" class="burger-menu_link">HOME</a>
        <a href="#services" class="burger-menu_link">SERVICES</a>
        <a href="#portfolio" class="burger-menu_link">PORTFOLIO</a>
        <a href="#about" class="burger-menu_link">ABOUT</a>
        <a href="#contact" class="burger-menu_link">CONTACT</a>
      </nav>
      <div class="burger-menu_overlay"></div>
    </div>
    </header>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          (click)="basicNav.toggle()"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div
          class="collapse navbar-collapse"
          id="navbarNav"
          mdbCollapse
          #basicNav="mdbCollapse"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
                >Disabled</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav> -->

