
  <section class="section-about-us">
    <div class="section-header2">
      <h1 class="about">About Us</h1>
      <div class="description-about-us" id="about">
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, non commodo luctus, nisi erat
        porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh.
      </div>
    </div>
    <div class="box-container3">
      <div class="profile">
        <div class="photo"><img src="/assets/images/images_about/photo-1.png" alt="photo1" /></div>
        <div class="pname"><b>Adam Jensen</b></div>
        <div class="pdescription">
          Quisque luctus, quam eget molestie commodo, lacus purus cursus purus, nec rutrum tellus dolor id lorem.
        </div>
        <div class="icons">
          <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://www.google.com"><i class="fab fa-google"></i></a>
          <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
        </div>
      </div>

      <div class="profile">
        <div class="photo"><img src="/assets/images/images_about/photo-2.png" alt="photo2" /></div>
        <div class="pname"><b>Desmond Miles</b></div>
        <div class="pdescription">
          Curabitur vestibulum eget mauris quis laoreet. Phasellus in quam laoreet, viverra lacus ut, ultrices velit.
        </div>
        <div class="icons">
          <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://www.google.com"><i class="fab fa-google"></i></a>
          <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
        </div>
      </div>
      <div class="profile">
        <div class="photo"><img src="/assets/images/images_about/photo-3.png" alt="photo3" /></div>
        <div class="pname"><b>Scolara Visari</b></div>
        <div class="pdescription">
          Nulla sed nunc et tortor luctus faucibus. Morbi at aliquet turpis, et consequat felis. Quisque condimentum.
        </div>
        <div class="icons">
          <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://www.google.com"><i class="fab fa-google"></i></a>
          <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
        </div>
      </div>
    </div>
  </section>
