<section class="section-our-service">
  <div class="section-header">
    <h1 class="name">Our Services</h1>
    <div class="description-our-services" id="services">
      Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, non commodo luctus, nisi erat
      porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris
      condimentum nibh.
    </div>
  </div>
  <!-- <app-card-service [id] = id [title] = "title" [description] = "description" [image] = "image"></app-card-service> -->
  <div class="section-our-service__item">
<ng-container *ngFor="let card of cards"><app-card-service [card]="card" ></app-card-service></ng-container>
 </div>
</section>
