<section class="section-our-service">
    <div class="section-header">   
      <h1 class="name">Our Services</h1>
      <div class="description-our-services" id="services">
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, non commodo luctus, nisi erat
        porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh.
      </div>
    </div>
    
    <!-- <div class="services-list">
      <div class="service-item-1">
        <img src="/assets/images/icon/services-item-1.png" alt="icon1" />
        <div class="service-item-text">
          <div class="name1">Custom Design</div>
          <div class="description-item">
            Curabitur vestibulum eget mauris quis laoreet. Phasellus in quam laoreet, viverra lacus ut, ultrices velit.
          </div>
        </div>
      </div>

      <div class="service-item-2">
        <img src="/assets/images/icon/services-item-2.png" alt="icon2" />
        <div class="service-item-text">
          <div class="name2">Inovate Ideas</div>
          <div class="description-item">
            Quisque luctus, quam eget molestie commodo, lacus purus cursus purus, nec rutrum tellus dolor id lorem.
          </div>
        </div>
      </div>

      <div class="service-item-3">
        <img src="/assets/images/icon/services-item-3.png" alt="icon3" />
        <div class="service-item-text">
          <div class="name3">Love Is The Answer</div>
          <div class="description-item">
            Nulla sed nunc et tortor luctus faucibus. Morbi at aliquet turpis, et consequat felis. Quisque condimentum.
          </div>
        </div>
      </div>

      <div class="service-item-4">
        <img src="/assets/images/icon/services-item-4.png" alt="icon4" />
        <div class="service-item-text">
          <div class="name4">Responsive Layout</div>
          <div class="description-item">
            Sed porttitor placerat rhoncus. In at nunc tellus. Maecenas blandit nunc ligula. Praesent elit leo.
          </div>
        </div>
      </div>

      <div class="service-item-5">
        <img src="/assets/images/icon/services-item-5.png" alt="icon5" />
        <div class="service-item-text">
          <div class="name5">24 / 7 Support</div>
          <div class="description-item">
            Vivamus vel quam lacinia, tincidunt dui non, vehicula nisi. Nulla a sem erat. Pellentesque egestas venenatis
            lorem .
          </div>
        </div>
      </div>

      <div class="service-item-6">
        <img src="/assets/images/icon/services-item-6.png" alt="icon6" />
        <div class="service-item-text">
          <div class="name6">Feel Like A Star</div>
          <div class="description-item">
            Quisque hendrerit purus dapibus, ornare nibh vitae, viverra nibh. Fusce vitae aliquam tellus.
          </div>
        </div>
      </div>
    </div>
  </section>
  <div *ngFor="let card of cards">
    <div>{{card.id}}</div>
    <div>{{card.title}}</div>
    <div>{{card.description}}</div>
    <div>{{card.image}}</div>
  </div>
   -->
