<section class="slider">
    <ngb-carousel #ngcarousel>
      <ng-template ngbSlide id="one">
        <div class="item">
          <img src="/assets/images/images_slide/1.jpeg" alt="Slide 1" />
        </div>
      </ng-template>
      <ng-template ngbSlide id="two">
        <div class="item">
          <img src="/assets/images/images_slide/2.jpeg" alt="Slide 2" />
        </div>
      </ng-template>
      <ng-template ngbSlide id="three">
        <div class="item">
          <img src="/assets/images/images_slide/3.jpeg" alt="Slide 3" />
        </div>
      </ng-template>
    </ngb-carousel>
  </section>
