<section class="section-portfolio">
  <div class="section-header1">
    <h1 class="portfolio">Portfolio</h1>
    <div class="description-portfolio" id="portfolio">
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    </div>
  </div>
  <div class="filter-list" id="filter-list">
    <button class="btn active-button" onclick="filterSelection('all')">All</button>
    <button class="btn" onclick="filterSelection('webdesign')">Web Design</button>
    <button class="btn" onclick="filterSelection('graphicdesign')">Graphic Design</button>
    <button class="btn" onclick="filterSelection('artwork')">Artwork</button>
  </div>
  <div class="picport">
    <div class="pic-portfolio webdesign">
      <img id="myImg" class="show" src="../../../assets/images/image_portfolio/portfolio-1.png" alt="port1" />
    </div>
    <div class="pic-portfolio webdesign">
      <img id="myImg2" class="test1" src="../../../assets/images/image_portfolio/portfolio-2.png" alt="port2" />
    </div>
    <div class="pic-portfolio webdesign">
      <img id="myImg3" class="test1" src="../../../assets/images/image_portfolio/portfolio-3.png" alt="port3" />
    </div>
    <div class="pic-portfolio graphicdesign">
      <img id="myImg4" class="test1" src="/../../../assets/images/image_portfolio/portfolio-4.png" alt="port4" />
    </div>
    <div class="pic-portfolio graphicdesign">
      <img id="myImg5" class="test1" src="../../../assets/images/image_portfolio/portfolio-5.png" alt="port5" />
    </div>
    <div class="pic-portfolio graphicdesign">
      <img id="myImg6" class="test1" src="../../../assets/images/image_portfolio/portfolio-6.png" alt="port6" />
    </div>
    <div class="pic-portfolio artwork">
      <img id="myImg7" class="test1" src="../../../assets/images/image_portfolio/portfolio-7.png" alt="port7" />
    </div>
    <div class="pic-portfolio artwork">
      <img id="myImg8" class="test1" src="../../../assets/images/image_portfolio/portfolio-8.png" alt="port8" />
    </div>
    <div class="pic-portfolio artwork">
      <img id="myImg9" class="test1" src="../../../assets/images/image_portfolio/portfolio-9.png" alt="port9" />
    </div>
    <div class="pic-portfolio webdesign">
      <img
        id="myImg10"
        class="test1"
        src="../../../assets/images/image_portfolio/portfolio-10.png"
        alt="port10"
      />
    </div>
    <div class="pic-portfolio graphicdesign">
      <img
        id="myImg11"
        class="test1"
        src="../../../assets/images/image_portfolio/portfolio-11.png"
        alt="port11"
      />
    </div>
    <div class="pic-portfolio artwork">
      <img
        id="myImg12"
        class="test1"
        src="../../../assets/images/image_portfolio/portfolio-12.png"
        alt="port12"
      />
    </div>
    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01" src="" />
    </div>
  </div>
</section>
