<section class="section-portfolio">
  <div class="section-header1">
    <h1 class="portfolio">Portfolio</h1>
    <div class="description-portfolio" id="portfolio">
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    </div>
  </div>

  <mat-chip-list aria-label="filter-list" id="filter-list">
    <mat-chip>All</mat-chip>
    <mat-chip>Wed Design</mat-chip>
    <mat-chip>Graphic Design</mat-chip>
    <mat-chip>Artwork</mat-chip>
  </mat-chip-list>

  <section class="portfolio-service">
    <div class="portfolio-item-univ" *ngIf="portfolio">
      <div class="group-univ">{{portfolio.group}}</div>
      <img [src]="portfolio.image" alt="img-univ" />
    </div>
  </section>

  <!-- <div class="filter-list" id="filter-list">
    <button class="btn active-button" onclick="filterSelection('all')">All</button>
    <button class="btn" onclick="filterSelection('webdesign')">Web Design</button>
    <button class="btn" onclick="filterSelection('graphicdesign')">Graphic Design</button>
    <button class="btn" onclick="filterSelection('artwork')">Artwork</button>
  </div> -->

    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01" src="" />
    </div>
  </section>
