.global {
  box-sizing: border-box;
  margin: 0 auto;
  background: #e5e5e5;
  color: #e5e5e5;
  font-family: 'Lato', sans-serif;
  width: 1020px;
  height: auto;
  position: relative;
  overflow-x: hidden;
}
header {
  background-color: #2d303a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 95px;
  padding-right: 40px;
}
footer {
  background-color: #2d303a;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  height: 76px;
  justify-content: center;
}
.title {
  display: flex;
  flex-direction: row;
  width: 124px;
  align-items: center;
  justify-content: start;
  padding-left: 40px;
  font-size: 25px;
  font-weight: bold;
}
.burger-menu {
  width: 375px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-decoration: none;
  list-style: none;
  justify-content: center;
  overflow: hidden;
  margin-top: 0;
}
a {
  color: #e5e5e5;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  padding-left: 10px;
}
a:hover {
  color: #f06c64;
}
.nav {
  display: inline-flex;
}
p {
  color: #f06c64;
}
.slider {
  margin-top: 6px;
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 594px;
  margin-bottom: 130px;
  margin: auto;
}
ngb-carousel {
  max-width: 100%;
  height: 594px;
  margin:  auto;
}

ngb-carousel img {
  width: 100%;
  height: 594px;
  outline: none;
}

ngb-carousel {
  width: inherit;
  height: inherit;
}

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
}

.carousel-item.active {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.carousel-control-prev {
  z-index: 20;
}

.carousel-control-next {
  z-index: 20;
}

.carousel-indicators {
  z-index: 20;
}

/* .slider .item img {
    object-fit: cover;
    width: 100%;
    height: 594px;
  }

  .slider .prev,
  .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #e94348;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  .slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .active-button {
    background-color: #aaa !important;
  }
  .slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  } */
.section-our-service {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background-color: #f2f2f2;
  padding: 40px 60px 40px 46px;
}
.section-header {
  width: 936px;
}
.services-list {
  color: #767e9e;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
}
.name {
  color: #666d89;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 36px;
  font-weight: 900 black;
}
.description-our-services {
  color: #767e9e;
  width: 936px;
  font-size: 18px;
}
.service-item-1,
.service-item-2,
.service-item-3 {
  display: flex;
  align-items: start;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 300px;
}
.service-item-4,
.service-item-5,
.service-item-6 {
  display: flex;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: space-around;
  width: 300px;
}
.name1,
.name2,
.name3 {
  font-size: 18px;
  font-weight: bold;
  text-align: up;
}
.name4,
.name5,
.name6 {
  font-size: 18px;
  font-weight: bold;
}
.description-item {
  font-size: 12px;
  width: 220px;
  height: 77px;
}
.section-portfolio {
  margin-top: 6px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 900px;
  background-color: #2d303a;
  color: #666d89;
  padding: 60px 40px 0px 40px;
}
.section-header1 {
  width: 100%;
  height: 100px;
}
.filter-list {
  display: flex;
  flex-direction: row;
  width: 400px;
  font-size: 12px;
  justify-content: start;
}
.btn {
  padding: 1px 6px;
  margin: 5px;
  width: auto;
  border: 1px solid #767e9e;
  color: #767e9e !important;
  border-radius: 5px;
  font-size: 12px;
  height: 22px;
}
.btn.text {
  position: absolute;
  align-items: center;
}
.active-button {
  background-color: #2d303a !important;
  border: 1px solid #bbbbbb;
  color: #bbbbbb !important;
}
.portfolio {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.description-portfolio {
  color: #767e9e;
  width: auto;
  height: 47px;
  font-size: 18px;
}
.show {
  display: block !important;
}
.picport {
  padding-left: 0px;
  margin-top: 18px;
  width: 940px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.pic-portfolio {
  display: none;
}

.pic-portfolio img {
  margin-top: 5px;
  width: 220px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
  position: relative;
  top: 500px;
  margin: auto;
  display: block;
  width: 100%;
  max-width: 1000px;
  border-radius: 40px;
  border: 5px solid white;
}
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.section-about-us {
  margin-top: 6px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 730px;
  background-color: #f2f2f2;
  color: #666d89;
  padding: 60px 40px 50px 40px;
}
.section-header2 {
  width: 936px;
}
.about {
  width: 130px;
  height: 40px;
  font-size: 30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.description-about-us {
  color: #767e9e;
  width: 940px;
  font-size: 18px;
}
.box-container3 {
  width: 940px;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.profile {
  height: 423px;
  width: 300px;
}
.photo {
  height: 300px;
  width: 300px;
}
.pname {
  font-size: 18px;
  padding-top: 17px;
}
.pdescription {
  font-size: 12px;
  padding-top: 7px;
}
.icons {
  padding-top: 10px;
  color: #666d89;
}
.section-contact {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #f06c64;
  padding: 60px 40px 60px 40px;
}
.section-header-contact {
  width: 936px;
  justify-content: center;
}
.description-contact {
  font-size: 18px;
  font-weight: 300, light;
  color: #f0d8d9;
}
.info-box {
  width: 930px;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 57px;
}
.contact-form {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
}
input::placeholder,
textarea::placeholder {
  padding-left: 10px;
  color: #f48c8f !important;
  font-family: 'Lato', sans-serif !important;
  outline: none;
}
input {
  outline: 1px solid white;
  width: 620px;
  height: 38px;
  border-radius: 5px;
  color: #f48c8f;
  background-color: #d6564f;
  border: none;
  font-size: 12px;
  margin-top: 10px;
}
textarea {
  outline: 1px solid white;
  width: 620px;
  height: 159px;
  color: #f48c8f;
  background-color: #d6564f;
  border: none;
  font-size: 12px;
  margin-top: 10px;
}
button {
  width: 136px;
  height: 40px;
  border-radius: 5px;
  background-color: #fbc65f;
  font-size: 14px;
  justify-content: center;
  border: none;
  margin-top: 10px;
}
.contact-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 300px;
  height: 199px;
}
.contact {
  font-size: 18px;
  font-weight: bold;
}
.adress-info {
  width: 150px;
  height: 85px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding-top: 20px;
}
.main-adress,
.main-tel,
.main-email {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 19px;
  font-size: 12px;
}
.main-adress img {
  margin-right: 10px;
  height: 12px;
  width: 8px;
}
.main-tel img {
  margin-right: 10px;
  height: 12px;
  width: 8px;
}
.main-email img {
  margin-right: 10px;
  height: 12px;
  width: 8px;
}
@media only screen and (max-width: 768px) {
  .global {
    box-sizing: border-box;
    margin: 0 auto;
    color: #e5e5e5;
    font-family: 'Lato', sans-serif;
    width: 768px;
    height: auto;
    border: 1px solid gray;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
  }
  header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .title {
    width: auto;
    justify-content: flex-start;
  }
  .burger-menu {
    width: 438px;
  }
  .slider {
    max-width: 100%;
    position: relative;
    width: 100%;
    height: 450px;
    margin-bottom: 130px;
    margin: auto;
  }
  .slider .item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .item {
    height: 450px;
  }
  .section-our-service {
    justify-content: space-evenly;
    height: 700px;
    width: 100%;
  }
  .section-header {
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
  }
  .description-our-services {
    width: auto;
  }
  .section-portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 1100px;
    justify-content: space-between;
    align-content: flex-start;
  }
  .section-header1 {
    width: 100%;
    height: auto;
  }
  .description-portfolio {
    height: auto;
  }

  .modal-content {
    width: 100%;
  }
  .section-about-us {
    justify-content: space-evenly;
    width: 100%;
    height: auto;
  }
  .section-header2 {
    width: 688px;
  }
  .description-about-us {
    color: #767e9e;
    width: 688px;
    font-size: 18px;
  }
  .box-container3 {
    width: 688px;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 18px;
  }
  .profile {
    width: 218px;
  }
  .photo {
    height: 218px;
    width: 218px;
  }
  .photo img {
    height: 218px;
    width: 218px;
  }

  .section-contact {
    width: 100%;
  }
  .section-header-contact {
    width: 690px;
  }
  .description-contact {
    width: auto;
  }
  .info-box {
    width: 690px;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 57px;
  }
  .contact-form {
    display: flex;
    flex-wrap: wrap;
    width: 445px;
  }
  input {
    width: 445px;
    height: 38px;
  }
  textarea {
    width: 445px;
    height: 159px;
    margin-top: 10px;
  }
  .contact-info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 300px;
    height: 199px;
  }
  .contact {
    font-size: 18px;
    font-weight: bold;
  }
  .adress-info {
    width: 150px;
    height: 85px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-top: 20px;
  }
  .main-adress,
  .main-tel,
  .main-email {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 19px;
    font-size: 12px;
  }
  .main-adress img {
    margin-right: 10px;
    height: 12px;
    width: 8px;
  }
  .main-tel img {
    margin-right: 10px;
    height: 12px;
    width: 8px;
  }
  .main-email img {
    margin-right: 10px;
    height: 12px;
    width: 8px;
  }
}
@media only screen and (max-width: 375px) {
  .global {
    width: 375px;
  }

  .title {
    margin-left: 20px;
  }
  header {
    position: sticky;
    z-index: 1000;
    top: 0;
    display: flex;
    width: 375px;
    height: 70px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0px;
    padding-right: 134px;
  }
  .title {
    padding-top: 10px;
    width: auto;
    font-size: 19px;
    margin-left: 30px;
  }
  .burger-menu_button {
    position: relative;
    z-index: 10;
    width: 10px;
    height: 50px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .burger-menu_button:hover .burger-menu_lines {
    filter: brightness(0.7);
  }

  .burger-menu_button:hover {
    background-color: #2d303a;
  }

  .burger-menu_lines::before,
  .burger-menu_lines::after,
  .burger-menu_lines {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #e5e5e5;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .burger-menu_lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .burger-menu_lines::before {
    content: '';
    top: -12px;
  }
  .burger-menu_lines::after {
    content: '';
    top: 12px;
  }

  .burger-menu_active .burger-menu_lines {
    background-color: transparent;
  }
  .burger-menu_active .burger-menu_lines::before {
    top: 0;
    transform: rotate(45deg);
  }
  .burger-menu_active .burger-menu_lines::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .burger-menu_nav {
    padding-right: 0px;
    position: fixed;
    top: 70px;
    z-index: 30;
    display: flex;
    flex-flow: column;
    height: 812px;
    width: 280px;
    background-color: #2d303a;
    overflow-y: auto;
    left: 0;
    left: -100%;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
  }
  .burger-menu_active .burger-menu_nav {
    left: 0;
    right: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .burger-menu_link {
    padding: 18px 40px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    color: #e5e5e5;
    border-bottom: 1px solid #2d303a;
  }
  .burger-menu_link:first-child {
    border-top: 1px solid #2d303a;
  }
  .burger-menu_link:hover {
    filter: brightness(0.9);
  }
  .burger-menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }
  .burger-menu_active .burger-menu_overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .slider {
    max-width: 100%;
    position: relative;
    width: 100%;
    height: 218px;
    margin-bottom: auto;
    margin: auto;
  }
  .slider .item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .item {
    height: 218px;
  }
  .slider-dots {
    display: none;
  }

  .section-our-service {
    justify-content: space-evenly;
    height: 1000px;
    width: 100%;
    padding: 30px 20px 30px 20px;
  }
  .section-header {
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
  }
  .description-our-services {
    width: auto;
  }
  .section-portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 844px;
    justify-content: space-between;
    align-content: flex-start;
    padding: 30px 30px 30px 30px;
  }
  .section-header1 {
    width: 100%;
    height: auto;
  }
  .filter-list {
    padding-top: 15px;
  }
  .pic-portfolio img {
    width: 150px;
    height: 127px;
    padding-top: 5px;
  }
  .modal-content {
    width: 100%;
  }
  #myImg,
  #myImg3,
  #myImg6,
  #myImg11 {
    display: none;
  }
  .btn {
    margin: 2px;
    width: auto;
  }
  .section-about-us {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 1690px;
    padding: 30px 30px 30px 30px;
  }
  .section-header2 {
    width: 315px;
  }
  .description-about-us {
    color: #767e9e;
    width: 315px;
    height: auto;
    font-size: 18px;
  }
  .box-container3 {
    width: 315px;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
  }
  .profile {
    margin-top: 18px;
    width: 314px;
    height: 440px;
  }
  .photo {
    height: 314px;
    width: 314px;
  }
  .photo img {
    height: 314px;
    width: 314px;
  }

  .section-contact {
    justify-content: flex-start;
    width: 100%;
    height: 970px;
    padding: 30px 30px 30px 30px;
  }
  .section-header-contact {
    width: 314px;
    height: auto;
  }
  .description-contact {
    width: 314px;
  }
  .info-box {
    width: 314px;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .contact-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 314px;
  }
  input {
    width: 314px;
    height: 18px;
    margin-top: 5px;
  }
  textarea {
    width: 314px;
    height: 159px;
    margin-top: 5px;
  }
  button {
    width: 314px;
    height: 50px;
  }
  .contact-info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 315px;
    height: auto;
  }
  .contact {
    font-size: 18px;
    font-weight: bold;
  }
  .adress-info {
    width: 150px;
    height: 72px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-top: 20px;
  }
  .main-adress,
  .main-tel,
  .main-email {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 19px;
    font-size: 12px;
  }
  .main-adress img {
    margin-right: 10px;
    height: 12px;
    width: 8px;
  }
  .main-tel img {
    margin-right: 10px;
    height: 12px;
    width: 8px;
  }
  .main-email img {
    margin-right: 10px;
    height: 12px;
    width: 8px;
  }
}
