<div class="global">
    <mat-sidenav-container>
      <mat-sidenav #sidenav role="navigation">
        <app-modal-nav (sidenavClose)="sidenav.close()"></app-modal-nav>
      </mat-sidenav>
      <mat-sidenav-content>
        <app-vav-bar (sidenavToggle)="sidenav.toggle()"></app-nav-bar>
       </mat-sidenav-content>
    </mat-sidenav-container>
  <app-slider></app-slider>
  <app-our-service></app-our-service>
  <app-portfolio></app-portfolio>
  <app-about-us></app-about-us>
  <app-contacts></app-contacts>
  <app-footer></app-footer>
</div>

