.global {
  box-sizing: border-box;
  margin: 0 auto;
  background: #e5e5e5;
  color: #e5e5e5;
  font-family: 'Lato', sans-serif;
  width: 1020px;
  height: auto;
  position: relative;
  overflow-x: hidden;
}
@media only screen and (max-width: 768px) {
  .global {
    width: 100%;
  }
}
@media only screen and (max-width: 375px) {
  .global {
    width: 100%;
  }
 
}
