  <section class="section-contact">
    <div class="section-header-contact">
      <h1 class="contact-header" id="contact">Get a Quote</h1>
      <div class="description-contact">
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, non commodo luctus, nisi erat
        porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh.
      </div>
    </div>
    <div class="info-box">
      <form class="contact-form">
        <input type="text" id="name" placeholder="Name (required)" />
        <input type="text" id="email" placeholder="Email (required)" />
        <input type="text" id="subject" placeholder="Subject" />
        <textarea placeholder="Describe your project in detail..." rows="3"></textarea>
        <button>SEND</button>
      </form>
      <div class="contact-info">
        <div class="header-contact-info">
          <h1 class="contact" id="contact">Contact Information</h1>
          <div class="main-description-contact">
            Quisque hendrerit purus dapibus, ornare nibh vitae, viverra nibh. Fusce vitae aliquam tellus. Proin sit amet
            volutpat libero. Nulla sed nunc et tortor luctus faucibus. Morbi at aliquet turpis, et consequat felis.
          </div>
        </div>
        <div class="adress-info">
          <div class="main-adress">
            <img src="/assets/images/images_contact/ico-location.png" alt="location" />
            <div class="text-adress">Elm St. 14/05 LostCity</div>
          </div>
          <div class="main-tel">
            <img src="/assets/images/images_contact/ico-phone.png" alt="telephone" />
            <div class="text-tel">035283318635</div>
          </div>
          <div class="main-email">
            <img src="/assets/images/images_contact/ico-mail.png" alt="e-mail" />
            <div class="text-email">info@singolo.com</div>
          </div>
        </div>
      </div>
    </div>
  </section>
